body {
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", sans-serif;
  margin: 0px;
}

#fa {
  color: white;
}

#bar {
  background-color: #ee5b32;
  padding: 10px;
}


/*
AZUL
 background-color: #00b5da
*/